html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
} 
 
body {
    margin: 0;
}
  
main {
    display: block;
}
  
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    margin: 0;
}
   
hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
}

pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
}

a {
    background-color: transparent;
}
  
abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted; 
}
   
b,
strong {
    font-weight: bolder;
}
    
code,
kbd,
samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
}
  
small {
    font-size: 80%;
}
  
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
  
sub {
    bottom: -0.25em;
}
  
sup {
    top: -0.5em;
}
  
img {
    border-style: none;
}
  
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
}  
 
button,
input { 
    overflow: visible;
}
    
button,
select { 
    text-transform: none;
}  
  
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
  
    
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
} 
  
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}  
 
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
  
legend {
    box-sizing: border-box; 
    color: inherit; 
    display: table; 
    max-width: 100%; 
    padding: 0; 
    white-space: normal; 
}
    
progress {
    vertical-align: baseline;
}  
    
textarea {
    overflow: auto;
}  
   
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}  
   
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
  
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
  
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
  
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit; 
}  
  
details {
    display: block;
}
  
summary {
    display: list-item;
}
  
template {
    display: none;
}
  
[hidden] {
    display: none;
}

@font-face {
    font-family: "Lato Bold";
    src: url(./assets/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato Black";
    src: url(./assets/fonts/Lato-Black.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(./assets/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: "Lato Regular";
    src: url(./assets/fonts/Lato-Regular.ttf);
}

html {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.wrapper {      
    margin: auto;
    max-width: 1020px;
}


.header {
    background-color: #2d303a;  
   
}

.header-content {
    margin: auto;
    height: 90px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.header-bottom {
    background-color: #323746;
    height: 6px;
}

.logo {
    margin-left: 40px; 
    margin-top: -4px;   
}

.logo h1 {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.logo a {
    text-decoration: none;
}

.logo span {
    color: #f06c64;
}

.navigation {
    width: 371px;
    margin: 8px 40px 0px 0px;
    display: flex;
    justify-content: space-between;
}    

.navigation li {
    text-transform: uppercase;
    font-size:  1.2rem;
    font-weight: 700;  
    list-style-type: none;  
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
}

.navigation a:hover {
    color:#f06c64;
}

.navigation li:not(:first-child):before {
    color:#494e62;
    content: "\2022";
    padding-right: 10px;
}

.slider {
    background-color: #f06c64;
}

.slider-content {
    height: 591px;
    display: flex;
    flex-flow: row;
}

.slider__chev-left {
    display: flex;
    background-image: url(./assets/images/chev_left.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 27px;   
    margin: 280px 0 286px 42px; 
    cursor: pointer;
}

.slider__chev-right{
    display: block;
    background-image: url(./assets/images/chev_right.png);
    width: 16px;
    height: 27px;    
    margin: 280px 40px 286px 55px;
    cursor: pointer;
}

.slider__phone-vertical {
    width: 240px;
    height: 483px;
    padding: 52px 0px 58px 54px;
}

.slider__phone-horizontal {
    width: 483px;
    height: 240px;
    padding: 172px 0 0 75px;
}

.slider-bottom {
    height: 8px;
    background-color: #ea676b;
}
.our-services {
    background-color: #f2f2f2;
    height: 496px;
}

.services-header {
    font-family: "Lato Black", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 60px 0 0 40px;
    color: #666d89;
}

.our-services__content {
    font-family: "Lato Light", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    margin: 0;
    padding: 19px 35px 38px 41px;
    line-height: 3rem;
    color: #767e9e;
    letter-spacing: -0.05px;
    overflow: hidden;
    max-width: 900px;
    max-height: 58px;
}

.column3-layout {
    display: flex;
    padding: 9px 0 0px 41px;
}

.icon {
    display: inline-block;
    width: 60px;
    height: 60px; 
    background-repeat: no-repeat;
}

.icon-wrapper {
    height: 100%;
    margin-right: 3px;
}

.icon-custom {
    background-image: url(./assets/images/pen.png);
}

.icon-inovative {
    background-image: url(./assets/images/lightbulb.png);
}

.icon-love {
    background-image: url(./assets/images/heart.png);
}

.icon-responsive{
    background-image: url(./assets/images/phone.png);
}

.icon-support {
    background-image: url(./assets/images/bubble.png);
}

.icon-start {
    background-image: url(./assets/images/star.png);
}

.column-header {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family:  "Lato Black", Arial, Helvetica, sans-serif;
    color: #666d89;
}

.first-column {
    display: flex;
    flex-flow: column wrap;
    width: 319px;
    height: 113px;
}

.second-column {
    display: flex;
    flex-flow: column wrap;
    width: 319px;
    height: 113px;
}

.third-column {
    display: flex;
    flex-flow: column wrap;
    width: 319px;
    height: 113px;
}

.column-wraper {
    display: flex;
    flex-flow: column wrap;
}

.column3-layout__content {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    width: 223px;
    margin-top: 9px;
}

.services-bottom {
    height: 6px;
    background-color: #ffffff;
}





